html {
  scroll-behavior: smooth;
}

.not-published-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 300;
  min-height: 60vh;
  text-align: center;
  padding: 24px;
}

#frnt-hero-primary-btn {
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#frnt-hero-secondary-btn {
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#frnt-hero-primary-btn:hover {
  transform: translateY(-2px);
  outline: none;
  border: none;
}

#frnt-hero-primary-btn:focus {
  outline: none;
  border: none;
}

#frnt-hero-primary-btn:active {
  transform: translateY(2px);
  border: none;
}

#new-services-carrosel {
  font-size: initial;
  margin-bottom: 2em;
  margin-top: 2em;
}

.post-swiper-slide {
  font-size: initial;
  height: 16em !important;
  object-fit: cover !important;
}
.post-swiper-slide img {
  width: 100% !important;
  height: 100% !important;
}

#new-frnt-hero-primary-btn {
  width: 18.4em;
  height: 5.6em;
  position: relative;
}
#new-frnt-hero-primary-btn button {
  font-size: 2.4em;
  line-height: 1.2;
  background-color: #17BC59;
  color: white;
  border: none;
  border-radius: 0.25em;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#new-frnt-hero-primary-btn button a {
  display: block;
  height: 100%;
  width: 100%;
}
#new-frnt-hero-primary-btn button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #7AFA7F;
}
#new-frnt-hero-primary-btn button:hover {
  background-color: #19B300;
  transform: translateY(-2px);
}
#new-frnt-hero-primary-btn button:active {
  background-color: #269400;
  transform: translateY(2px);
}

#new-frnt-hero-secondary-btn {
  width: 18.4em;
  height: 5.6em;
  position: relative;
}
#new-frnt-hero-secondary-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  font-size: 2.4em;
  line-height: 1.2;
  background-color: white;
  color: #129346;
  border: 1px solid #075E2A;
  border-radius: 0.25em;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#new-frnt-hero-secondary-btn button a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
#new-frnt-hero-secondary-btn button:focus {
  outline: none;
}
#new-frnt-hero-secondary-btn button:hover {
  background-color: rgb(207, 207, 207);
  transform: translateY(-2px);
}
#new-frnt-hero-secondary-btn button:active {
  background-color: #a8a8a8;
  transform: translateY(2px);
}

.ceymulticall-tooltip {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: 1em 2em;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.3s forwards;
  left: 50%;
  transform: translateX(-50%);
  top: -4em;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.modal-pay-btn a {
  background-color: white !important;
  color: #129346 !important;
  border: 1px solid #075E2A !important;
}

.btn-opacity-change:hover {
  opacity: 0.8;
}

#ui-datepicker-div {
  display: none;
}

#footer-bttm-right ul li {
  list-style: none;
}

#paynow-link {
  margin-top: 36px;
}

.page-margin-div .woocommerce.columns-4 {
  padding-inline: var(--padding-inline);
}

.euro-rate-wrapper {
  text-align: right;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  letter-spacing: 1px;
}
.euro-rate-wrapper img {
  height: 20px;
  object-fit: cover;
  margin-left: 12px;
  margin-right: 12px;
}

/*# sourceMappingURL=common.css.map */
