
:root{

    --search-list-rel-fz:10px;
}

@media(max-width:1400px){
    :root{

        --search-list-rel-fz:9px;
    }
   
}

@media(max-width:1200px){
    :root{

        --search-list-rel-fz:8px;
    }
   
}

@media(max-width:992px){
    :root{

        --search-list-rel-fz:7px;
    }
   
}

@media(max-width:768px){
    :root{

        --search-list-rel-fz:6px;
    }
   
}

@media(max-width:576px){
    :root{

        --search-list-rel-fz:5px;
    }
}

@media(max-width:375px){
    :root{

        --search-list-rel-fz:4px;
    }
   
}
.search-list-results-wrapper{
    font-size: var(--search-list-rel-fz);
    font-family:'Roboto Serif';
    margin-top: 8em;
}
.search-list-title { 

    font-size:3em ;
    letter-spacing: 0.4px;
    line-height:1.2;
    font-weight: 300;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-inline: auto;
    padding: 0.83em 0px;


}

.search-list-description { 
    font-size:3em ;
    letter-spacing: 0.4px;
    line-height:1.2;
    font-weight: 500;
    text-align: left;
    margin-top: 3em;
}
.post-link-a{
    display: contents;
}
.search-list-posts { 
    
            .search-post-wrapper { 

                display: flex;
                justify-content: space-between;
                gap: 5.4em;
                font-size: var(--search-list-rel-fz);
                margin-top: 4.8em;
                position: relative;
                .search-post-left { 
                    //width: 37.6em;
                //  height: 24.4em;

                    aspect-ratio:376/244;
                
                   // flex-shrink: 0;
                    flex: 1;
                    img { 
                        
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .search-post-right { 
                    flex-grow: 1; 
                    display: flex;
                    flex-direction: column;
                
                    flex: 2.6382;
                    
                    .search-post-title { 
                        font-size:4em ;
                        letter-spacing: 0.4px;
                        line-height:1.2;
                        font-weight: 300;

                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    
                    
                    }

                    .search-post-excerpt { 
                        font-size:2em ;
                        letter-spacing: 0.4px;
                        line-height:1.2;
                        font-weight: 300;
                        flex-grow: 1;
                        margin-top:0.9em;

                    
                        p { 

                        }
                    }

                    .search-post-author { 
                        font-size:2em ;
                        letter-spacing: 0.4px;
                        line-height:1.2;
                        font-weight: 500;
                        .search-post-author-name { 

                        }

                        .search-post-date { 

                        }
                    }
                }
                .post-link-a{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
   
    
    .search-post-divider{
        border-bottom: 0.5px solid rgba(0,0,0,0.22);
        margin-top: 4.8em;
    }
	.search-post-pagination { 
        margin-top: 12em;
	}
}