
:root{

    --search-list-rel-fz:10px;
}

@media(max-width:1400px){
    :root{

        --search-list-rel-fz:9px;
    }
   
}

@media(max-width:1200px){
    :root{

        --search-list-rel-fz:8px;
    }
   
}

@media(max-width:992px){
    :root{

        --search-list-rel-fz:7px;
    }
   
}

@media(max-width:768px){
    :root{

        --search-list-rel-fz:6px;
    }
   
}

@media(max-width:576px){
    :root{

        --search-list-rel-fz:5px;
    }
}

@media(max-width:375px){
    :root{

        --search-list-rel-fz:4px;
    }
   
}
.search-list-results-wrapper{
    font-size: var(--search-list-rel-fz);
    font-family:'Roboto Serif';
    margin-top: 8em;
}
.search-list-title { 

    font-size:3em ;
    letter-spacing: 0.4px;
    line-height:1.2;
    font-weight: 300;
    text-align: center;
    
   
    padding: 0.83em 0px;
    display: flex;
    justify-content: flex-end;
    @media(max-width:768px) {
       
      display:initial;
       
     }

}
.search-bar-item-for-other-pages{
  //  font-size:3em ; 
    margin-inline: auto;
    background-color: #fff;
    padding: 0.5em;
    width: 100%;
    text-align: center;
}
.search-bar-item{ 
    position: relative;
    width:30%;
    @media(max-width:768px) {
       
        width: initial;
        margin: 0px 24px;
        margin-top: 24px;
       
     }

    .searchinput { 
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 24px;
        width: 100%;
        text-indent: 28px;

    }
    .searchbtn{
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 24px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right:4px;
        transform: translateY(-50%);
        color: white;
        background-color: #33B628;
        letter-spacing: 1px;

    }
    .bi-search{
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        font-size: 16px; 

    }
}
.search-list-description { 
    font-size:3em ;
    letter-spacing: 0.4px;
    line-height:1.2;
    font-weight: 500;
    text-align: left;
    margin-top: 3em;
}
.post-link-a{
    display: contents;
}
.search-list-posts { 
    
            .search-post-wrapper { 

                display: flex;
                justify-content: space-between;
                gap: 5.4em;
                font-size: var(--search-list-rel-fz);
                margin-top: 4.8em;
                position: relative;
                min-height: 130px;
                .search-post-left { 
                    //width: 37.6em;
                //  height: 24.4em;

                    aspect-ratio:376/244;
                
                   // flex-shrink: 0;
                    flex: 1;
                    img { 
                        
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .search-post-right { 
                    flex-grow: 1; 
                    display: flex;
                    flex-direction: column;
                
                    flex: 2.6382;
                    position: relative;
                    .search-post-title { 
                        font-size:4em ;
                        letter-spacing: 0.4px;
                        line-height:1.2;
                        font-weight: 300;

                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    
                    
                    }

                    .search-post-excerpt { 
                        font-size:2em ;
                        letter-spacing: 0.4px;
                        line-height:1.2;
                        font-weight: 300;
                       // flex-grow: 1;
                        margin-top:0.9em;

                        
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;

                    
                        p { 

                        }
                    }

                    .search-post-author { 
                        font-size:2em ;
                        letter-spacing: 0.4px;
                        line-height:1.2;
                        font-weight: 500;
                        position: absolute;
                        bottom: 0px;
                        display: flex;
                        gap: 1.2em;
                        align-items: center;
                        .search-post-author-propic { 
                            img{
                                width: 44px;
                            height: 44px;
                            border-radius: 100%; 
                            object-fit: cover;
                            }
                            

                        }

                        .search-post-date { 

                        }
                    }
                }
                .post-link-a{
                    display: block;
                    position: absolute;
                    top: 0;  
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
   
    
    .search-post-divider{
        border-bottom: 0.5px solid rgba(0,0,0,0.22);
        margin-top: 4.8em;
    }
	.search-post-pagination { 
        margin-top: 3em;
        font-size: 2.5em;
        margin-bottom: 6em;
        display: flex;
        justify-content: center;
        width: 100%;

        .pagination{
          //  font-size: var(--search-list-rel-fz);
            background-color: #fff;
            width: 100%;
            display: flex;
            padding: 4px;
            //justify-content: center;
            .nav-links{
                display: flex;
                flex: 1;
               justify-content: center;
               gap: 12px;
                a,span{
                    border-radius: 8px;
                    padding: 8px;
                }
              
                .prev{
                    display:inline-flex;
                   // margin-right: 3em;
                    gap: 12px;
                   
                   
                }
                .next{
                    display: inline-flex;
                   // margin-left: 3em;
                    gap: 12px;
                   
                   
                }
                .page-numbers{

                }
                .prev::before{
                    content: "\F12F";
                    font-family: "Bootstrap-icons";
                }
                .next::after{
                    content: "\F138";
                    font-family: "Bootstrap-icons";
                }
                
                .page-numbers.current{
                    background-color: #D9D9D9;
                }
            }
        }
	}
}